#------------------------------------------------------------------------------
# General
#------------------------------------------------------------------------------

# Prefix for all resources created by this module
friendly_name_prefix = "hashicat"

# AWS Tagging Configuration
common_tags = {
  deployment = "dev"
  site       = "one"
}

# TFE Deployment Configuration
tfe_active_active        = true

# SSH public key for testing deployment in private subnets via a Windows EC2 Bastion server
# REPLACE THIS with a Public Key for your access to the test Bastion System
create_ssh_keypair = true
ssh_public_key     = "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDXWpQxor5ghZCeyR/t3E0zsmnoPRZC/vAat1uVpJEyfJsa8m37sAE5xD+pior9fWe6anyMXGTQbivVr70eGtO5HmH0g6S9Tjak0t03QVulFuLXqhKQFIcwtcZghBHs4/W5GQyDcd7MLNrzsMUMX9sL8AKQHzERj6UczaH3PqTdUFS2aVkUfXr5gSOVOkf+k73p8MOfWN8lUNW6JgA1fhNu/2xhqdJWECjMgEdZB+DBkprQlFZ/ZR34rchf2ZAoMmTblGxCSWms5f2WcQ2PTDhdHuISizlY0BSL6eQjLsDf7eZJsnEIhqCVRuN2tqvigIA2etJD+rK8EaOF17138buJOVIQaaEFpxFwUfAKuHb71u9kMzsFxX/UsYuQ0e07YkEtMakk7oeLAJJXn1/wfj8vTjqv7+udvGGUFb3ILFJPbd4gzW36gdgYWKanEqVsJ0oSAXPCTbwdTIpj11GNYZe2AuipEjIHa0syCNE+5HODfIt/DE1JFerYwTuXBPJvy4ZWh6YGdaHAHGLhZqdOW1BJQe9lSw4ebo1VteC4na+Yjjj0FS7+qLWsvHZ2khJXX74K+hDMOAKMfO3rcmGWWhXNxxWQP5QgwpsPZ3dEf8FKwBq6Y3hjZvI1H2rZM9VPz3zCnKt5a0e8OviDLIQ3eSb6DKehhLScWxtcCEFp4t6Mbw=="


#------------------------------------------------------------------------------
# Network Configuration
#------------------------------------------------------------------------------
vpc_enable_ssm = true

route53_zone_name = "hashicat.aws.sbx.hashicorpdemo.com"
route53_failover_record = {
  record_name         = "tfe"
  set_id              = "fso1"
  lb_failover_primary = true
}

lb_sg_rules_details = {
  tfe_api_ingress = {
    cidr_blocks = ["0.0.0.0/0"]
  }
  tfe_console_ingress = {
    create = false
  }
}

#------------------------------------------------------------------------------
# Database Configuration
#------------------------------------------------------------------------------
db_username      = "tfe"
db_password      = "correct-horse-battery-staple"
db_database_name = "tfe"

create_redis_replication_group = true
redis_password                 = "faculty-untried-cohesive-voucher"

#------------------------------------------------------------------------------
# Secret Manager Configuration - Initial TFE Secrets
#------------------------------------------------------------------------------
secretsmanager_secrets = {
  license = {
    name = "tfe-license"
    path = "/Users/hashicat/Desktop/licenses/tfefdo.hclic"
  }
  tfe_console_password = {
    name        = "console_password-test"
    description = "Console password used in the TFE installation"
    data        = "ozone-delirious-causation-aflutter"
  }
  tfe_enc_password = {
    name        = "enc_password-test"
    description = "Encryption password used in the TFE installation"
    data        = "monday-sullen-smashing-embassy"
  }
  cert_pem_secret = {
    name = "cert_pem_public"
    path = "/Users/hashicat/Desktop/licenses/ssl/wildcard.pub"
  }
  cert_pem_private_key_secret = {
    name = "cert_pem_private"
    path = "/Users/hashicat/Desktop/licenses/ssl/wildcard.key"
  }
  ca_certificate_bundle = {
    name = "cert_pem_bundle"
    path = "/Users/hashicat/Desktop/licenses/ssl/wildcard-chain.pub"
  }
}

#------------------------------------------------------------------------------
# IAM Configuration
#------------------------------------------------------------------------------
iam_resources = {
  role_name   = "role"
  policy_name = "policy"
  ssm_enable  = true
}

#------------------------------------------------------------------------------
# S3 Configuration
#------------------------------------------------------------------------------
s3_buckets = {
  bootstrap = {
    bucket_name         = "tfe-bootstrap"
    force_destroy       = true
    is_secondary_region = true
  },
  tfe_app = {
    bucket_name         = "tfe-app"
    force_destroy       = true
    is_secondary_region = true
  },
  logging = {
    bucket_name         = "tfe-logging"
    force_destroy       = true
    is_secondary_region = true
  }
}

